@import url("./normalize.css");

:root{
    --dark-blue: #03588C;
    --passion-red: #F50700;
    --grey: #AAAAAA;
    --soft-grey: #C4C4C4;
    --dark-red: #AA3333;
    --medium-green: #67A675;
    --medium-red: #BC1717;
    --soft-white: #FBFBFB;
    --footer-grey: #777777;
    --button-red: #B10005;
    --soft-green: #47DD00;
    --soft-blue: #81C9FA;
    --greenish-blue : #65B1BA;
    --medium-blue: #3A95B1;
    
}

/* * ----------- ----------- HEADER ----------- ----------- */

#header{
    width: 100%;
    border-top: 4px solid var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* ! STICKY */
    position: relative;
}

.brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}

.brand h1{
    font-size: 28px;
}

#imgBrand{
    width: 66px;
}

.headerOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
    height: 60px;
}

.headerOptions span{
    margin-left: 1.6rem;
}

.headerOptions span i{
    font-size: 25px;
    cursor: pointer;
}

#spanBadge{
    position: relative;
}

.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--passion-red);
    color: #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSearch{
    border: 1px solid var(--grey);
    width: 450px;
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSearch i{
    width: 30%;
    text-align: right;
    padding-right: .6rem;
}

#headerSearch{
    border: none;
    font-size: .9rem;
    width: 100%;
    color: var(--footer-grey);
}

#headerSearch:focus{
    outline: none;
}

/* * ----------------------------------------------------------------------------- */

/* * ----------- ----------- NAV HOME ----------- ----------- */

#navHome{
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgba(3,88,140,1) 0%, rgba(101,177,186,1) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* ! Hidden */
    transform: translateX(100%);
    z-index: 1000;
    transition: transform 1s;
}

.navActive{
    transform: translateX(0) !important;
}


.navOptions {
    height: 60%;
}

.navOptions ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navOptions ul li{
    list-style: none;
    text-align: center;
}

.navOptions ul li a{
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}

.navOptions ul li a i{
    margin-right: 1rem;
}

/* * ----------------------------------------------------------------------------- */


/* * ----------- ----------- SOCIAL ICONS ----------- ----------- */

#redes {
    position: fixed;
    top: 40%;
  }
  
  #redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: width .5s;
  }
  
  #instagram {
    /* background-color: #cf068c; */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(145deg, #ba057e, #dd0696);
  }
  
  #facebook {
    /* background-color: #081ee6; */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(145deg, #071bcf, #0920f6);
  }
  
  #twitter {
    /* background-color: #1c8eda; */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(145deg, #1980c4, #1e98e9);
  }
  
  #redes i{
      color: #fff;
      font-size: 20px;
  }
  
  #instagram:hover {
      width: 60px;
  }
  
  #twitter:hover {
      width: 60px;
  }
  
  #facebook:hover {
      width: 60px;
  }

/* * ----------------------------------------------------------------------------- */

/* * ----------- ----------- SLIDER ----------- ----------- */

.slider{
    width: 100%;
    height: 300px;
    background-color: var(--footer-grey);
    position: relative;
    overflow: hidden;
}

.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.iconSlider{
    width: 50px;
    height: 50%;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    cursor: pointer;
    top: calc(50% - 25%);
}

.iconSlider i{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.iconSlider:hover{
    background-color: rgba(0, 0, 0, .7);
}

.iconSliderLeft{
    left: 1.5rem;
}

.iconSliderRight{
    right: 1.5rem;
}

/* * ----------------------------------------------------------------------------- */

/* * ----------- ----------- FOOTER ----------- ----------- */

#footer{
    /* ! Eliminar */
    position: absolute;
    bottom: 0;
    /* ! ------------ */

    border-top: 4px solid var(--dark-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footerTop{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2rem auto 1rem;
}

.footerContainer{
    width: 16%;
}

.footerSubtitle{
    font-size: 18px;
    margin-left: 10px;
}

.footerContainerOptions{
    list-style: none;
    margin-left: 10px;
}

.footerContainerOptions li{
    margin: 3px 0;
    display: inline-block;
}

.footerContainerOptions li i{
    margin-right: 2px;
    font-weight: bold;
}

.footerContainerOptions li a, .footerContainerOptions li{
    color: var(--footer-grey);
    font-weight: 600;
    transition: color .3s;
}

.footerContainerOptions li a:hover, .footerContainerOptions li:not(.noHover):hover{
    color: #000;
}

.footerContainerOptions li > .iconBlack{
    margin-right: 8px;
}

.iconBlack{
    color: #000;
}

.footerLine{
    border-top: 1px solid var(--soft-grey);
    margin: 5px 0;
}

.footerBottom{
    margin: 1rem auto;
}

/* * ----------------------------------------------------------------------------- */