<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://kit.fontawesome.com/d0135093a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="gridAdmin">
        <!-- * ----------- ----------- NAV ----------- ----------- -->
        <nav class="adminNav">
            <header>
                <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                    alt="image icon user">
                <h2>Admin</h2>
            </header>
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <h3>Usuarios</h3>
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                    <h3>Productos</h3>
                </li>
                <li>
                    <i class="fa-solid fa-box-open"></i>
                    <h3>Pedidos</h3>
                </li>
                <li>
                    <i class="fa-solid fa-wrench"></i>
                    <h3>Roles</h3>
                </li>
                <li>
                    <i class="fa-solid fa-clipboard-list"></i>
                    <h3>Comentarios</h3>
                </li>
            </ul>
        </nav>
        <div class="smallNav">
            <header>
                <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                    alt="image icon user">
            </header>
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                </li>
                <li>
                    <i class="fa-solid fa-box-open"></i>
                </li>
                <li>
                    <i class="fa-solid fa-wrench"></i>
                </li>
                <li>
                    <i class="fa-solid fa-clipboard-list"></i>
                </li>
            </ul>
        </div>

        <!-- * ----------------------------------------------------------------------------- -->

        <!-- * ----------- ----------- HEADER ----------- ----------- -->

        <header class="adminHeader">
            <div class="adminBrand">
                <img src="./assets/images/BrandTransparentMD.png" alt="">
                <h1>TuManga</h1>
            </div>
            <button class="btn btn-danger" id="goBack">VOLVER</button>
        </header>

        <!-- * ----------------------------------------------------------------------------- -->

        <main class="adminMain">
            <div class="containerStatistics">
                <h2>Estadísticas</h2>
                <div class="containerOptions">
                    <div class="rowOptionAdmin">
                        <span><i class="fa-solid fa-box"></i></span>
                        <div>
                            <h4>Titulo</h4>
                            <p class="adminOrdersSpan">20</p>
                        </div>
                    </div>
                    <div class="rowOptionAdmin">
                        <span><i class="fa-solid fa-user"></i></span>
                        <div>
                            <h4>Titulo</h4>
                            <p class="adminUsersSpan">100</p>
                        </div>
                    </div>
                    <div class="rowOptionAdmin">
                        <span class="spanGreen"><i class="fa-solid fa-money-bill"></i></span>
                        <div>
                            <h4>Titulo</h4>
                            <p class="earnings">200€</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerStatisticsProducts"></div>
        </main>

    </div>

    <script src="./js/script.js"></script>
</body>

</html>