<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="centerLog">
        <div class="containerCenter">
            <div class="containerLogLeft">
                <h2>¿No tienes cuenta?</h2>
                <button class="btn btn-light">Registrarse</button>
            </div>
            <div class="containerLogRight">
                <div class="contentLog">
                    <h2>Iniciar sesión</h2>
                    <div class="inputsLog">
                        <input type="text" id="" placeholder="Email">
                        <input type="password" id="" placeholder="Password">
                    </div>
                    <span class="containerRemember">
                        <input type="checkbox" id="remember">
                        <label for="remember">Recuerdame</label>
                    </span>
                    <button class="btn btn-info">Iniciar sesión</button>
                    <a class="forgetPassword">¿Olvidastes la contraseña?</a>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>