<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="centerLog">
        <div class="containerCenter">
            <div class="containerLogLeft containerWhite">
                <div class="contentLog">
                    <h2>Registrarse</h2>
                    <div class="inputsLog">
                        <input type="text" id="" placeholder="Email">
                        <input type="password" id="" placeholder="Password">
                        <input type="password" id="" placeholder="Confirmar Password">
                    </div>
                    <button class="btn btn-primary">Registrarse</button>
                </div>
            </div>
            <div class="containerLogRight containerColumn">
                <h2>¿Ya tienes cuenta?</h2>
                <button class="btn btn-light">Iniciar sesión</button>
            </div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>