<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d0135093a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- * ----------- ----------- HEADER ----------- ----------- -->

    <header id="header">
        <div class="brand">
            <a href="index.html">
                <img src="./assets/images/BrandTransparent.png" alt="brand arnaizDev" id="imgBrand">
                <h1>TuManga</h1>
            </a>
        </div>
        <div class="headerSearch">
            <i class="fa-regular fa-magnifying-glass"></i>
            <input type="text" id="headerSearch" placeholder="Busca en nuestro catálogo">
        </div>
        <div class="headerOptions">
            <span id="spanBadge">
                <a href="shoppingCart.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge">4</span>
                </a>
            </span>

            <!-- * ----------- ----------- CART ----------- ----------- -->

            <div class="containerCart">
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="lineCart"></div>
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="totalCart">
                    <p>Total</p>
                    <p>100€</p>
                </div>
            </div>

            <!-- * ----------------------------------------------------------------------------- -->

            <span>
                <a href="account.html">
                    <i class="fa-regular fa-user"></i>
                </a>
            </span>
            <span>
                <i class="fa-regular fa-bars" id="buttonMenu"></i>
            </span>
        </div>
    </header>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- NAV ----------- ----------- -->

    <nav id="navHome">
        <div class="navOptions">
            <ul>
                <li><a href="index.html"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-book"></i>Mangas</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-child-reaching"></i>Merchandising</a></li>
                <li><a href="account.html"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
            </ul>
        </div>
        <button class="btn btn-light" id="btnAccessPanel" role="button">Acceder al panel</button>
        <button class="btn btn-danger" id="btnLogout" role="button">Cerrar sesión</button>
    </nav>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SOCIAL ICONS ----------- ----------- -->

    <div id="redes">
        <a href="https://www.instagram.com" target="_blank" id="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank" id="twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://facebook.com/" target="_blank" id="facebook"><i class="fa-brands fa-facebook"></i></a>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SLIDER ----------- ----------- -->

    <div class="sliderSmall">
        <h3 class="sliderTitle">Mi Cuenta</h3>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- MAIN ----------- ----------- -->

    <main class="center">
        <div class="containerGlobalProducts">
            <aside class="containerAside">
                <ul>
                    <li><a href="account.html">Mi Información</a></li>
                    <div class="lineAside"></div>
                    <li class="activeUnderline"><a href="orders.html">Mis Pedidos</a></li>
                    <div class="lineAside"></div>
                    <li><a href="address.html">Mis Direcciones</a></li>
                    <div class="lineAside"></div>
                    <li><a href="targets.html">Mis Tarjetas</a></li>
                    <div class="lineAside"></div>
                    <li><a href="comments.html">Mis Comentarios</a></li>
                </ul>
            </aside>

            <button class="btnSubmenu"><i class="fa-solid fa-ellipsis-vertical"></i></button>
            <nav class="submenuFloat">
                <header>
                    <button role="button" id="closeModalAccount">
                        <i class="fa-solid fa-xmark"></i>
                        Cerrar
                    </button>
                </header>
                <main>
                    <ul>
                        <li><a href="account.html">Mi Información</a></li>
                        <li><a href="orders.html" class="submenuOptionActive">Mis Pedidos</a></li>
                        <li><a href="address.html">Mis Direcciones</a></li>
                        <li><a href="targets.html">Mis Tarjetas</a></li>
                        <li><a href="comments.html">Mis Comentarios</a></li>
                    </ul>
                </main>
            </nav>
            
            <section class="containerInformation">
                <h2 class="subtitle">Mis Pedidos</h2>
                <div class="containerOrder">
                    <header>
                        <div class="containerOrderInformation">
                            <div>
                                <h4>Pedido realizado</h4>
                                <p class="greySmall">6 de abril de 2022</p>
                            </div>
                            <div>
                                <h4>Total</h4>
                                <p class="greySmall">45 €</p>
                            </div>
                            <div id="orderClient">
                                <h4>Enviar a</h4>
                                <p class="greySmall" id="orderUserName">Adrián Arnaiz Fernández <i class="fa-solid fa-angle-down"></i></p>
                                <div class="modalInformationOrder">
                                    <h4>Adrián Arnaiz Fernández</h4>
                                    <p class="greySmall">Calle Mi Casa</p>
                                    <p class="greySmall">Teléfono: 123456789</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="orderDetails.html">Ver detalles del pedido</a>
                        </div>
                    </header>
                    <main>
                        <h4>Entregado el lunes</h4>
                        <div class="row">
                            <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada tokyo revengers 04">
                            <h3>Tokyo Revengers 04</h3>
                        </div>
                        <div class="row">
                            <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada tokyo revengers 04">
                            <h3>Tokyo Revengers 04</h3>
                        </div>
                    </main>
                </div>
            </section>
        </div>
    </main>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- BTN-UP ----------- ----------- -->

    <button id="btn-up"><i class="fa-solid fa-angle-up"></i></button>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- FOOTER ----------- ----------- -->

    <footer id="footer">
        <div class="footerTop">
            <div class="footerAccount footerContainer">
                <h4 class="footerSubtitle">Mi Cuenta</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mi Cuenta</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Historial de pedidos</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mis Direcciones</a></li>
                </ul>
            </div>
            <div class="footerInformation footerContainer">
                <h4 class="footerSubtitle">Información Legal</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-angle-right"></i>Aviso Legal</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de cookies</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de privacidad</li>
                </ul>
            </div>
            <div class="footerContact footerContainer">
                <h4 class="footerSubtitle">Contáctanos</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-phone iconBlack"></i>601 403 189</li>
                    <div class="footerLine"></div>
                    <li><i class="fa-regular fa-envelope iconBlack"></i>tumanga@tumanga.com</li>
                    <div class="footerLine"></div>
                    <li class="noHover">Contacta con nosotros para cualquier duda</li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <h3>&copy;Todos los derechos reservados</h3>
        </div>
    </footer>

    <!-- * ----------------------------------------------------------------------------- -->


    <!-- * ----------- ----------- SCRIPT ----------- ----------- -->
    <script src="js/script.js"></script>
    <!-- * ----------------------------------------------------------------------------- -->
</body>

</html>