<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d0135093a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- * ----------- ----------- HEADER ----------- ----------- -->

    <header id="header">
        <div class="brand">
            <a href="index.html">
                <img src="./assets/images/BrandTransparent.png" alt="brand arnaizDev" id="imgBrand">
                <h1>TuManga</h1>
            </a>
        </div>
        <div class="headerSearch">
            <i class="fa-regular fa-magnifying-glass"></i>
            <input type="text" id="headerSearch" placeholder="Busca en nuestro catálogo">
        </div>
        <div class="headerOptions">
            <span id="spanBadge">
                <a href="shoppingCart.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge">4</span>
                </a>
            </span>

            <!-- * ----------- ----------- CART ----------- ----------- -->

            <div class="containerCart">
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="lineCart"></div>
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="totalCart">
                    <p>Total</p>
                    <p>100€</p>
                </div>
            </div>

            <!-- * ----------------------------------------------------------------------------- -->

            <span>
                <a href="account.html">
                    <i class="fa-regular fa-user"></i>
                </a>
            </span>
            <span>
                <i class="fa-regular fa-bars" id="buttonMenu"></i>
            </span>
        </div>
    </header>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- NAV ----------- ----------- -->

    <nav id="navHome">
        <div class="navOptions">
            <ul>
                <li><a href="index.html"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-book"></i>Mangas</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-child-reaching"></i>Merchandising</a></li>
                <li><a href="account.html"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
            </ul>
        </div>
        <button class="btn btn-light" id="btnAccessPanel" role="button">Acceder al panel</button>
        <button class="btn btn-danger" id="btnLogout" role="button">Cerrar sesión</button>
    </nav>
    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SOCIAL ICONS ----------- ----------- -->

    <div id="redes">
        <a href="https://www.instagram.com" target="_blank" id="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank" id="twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://facebook.com/" target="_blank" id="facebook"><i class="fa-brands fa-facebook"></i></a>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SLIDER ----------- ----------- -->

    <div class="sliderSmall">
        <h3 class="sliderTitle">Pago</h3>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- MAIN ----------- ----------- -->

    <main class="center">
        <div class="containerPayment">
            <div class="paymentLeft">
                <div class="row">
                    <h2>1</h2>
                    <h3>Dirección de envío</h3>
                    <div class="col">
                        <h4>Adrián Arnaiz Fernández</h4>
                        <p>Calle Mi Casa</p>
                        <p>Teléfono: 123456789</p>
                    </div>
                    <p class="changeData">Cambiar</p>
                </div>
                <div class="dataDown">
                    <div class="row">
                        <h2>Usadas más recientes</h2>
                        <button class="dataDownClose" role="button"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                    </div>
                    <div class="row">
                        <input type="radio" id="">
                        <h4>Adrián Arnaiz Fernández</h4>
                        <p>Calle Mi Casa, Numero, Piso, Móstoles, Teléfono: 123456789</p>
                        <p class="editAddress">Editar dirección</p>
                    </div>
                    <div class="linePayment"></div>
                    <div class="row">
                        <input type="radio" id="">
                        <h4>Adrián Arnaiz Fernández</h4>
                        <p>Calle Mi Casa, Numero, Piso, Móstoles, Teléfono: 123456789</p>
                        <p class="editAddress">Editar dirección</p>
                    </div>
                    <div class="rowEnd">
                        <button role="button" class="btn btn-success">Añadir dirección</button>
                    </div>
                </div>
                <div class="linePayment"></div>
                <div class="row">
                    <h2>2</h2>
                    <h3>Método de pago</h3>
                    <div class="row">
                        <img src="https://mecen.es/wp-content/uploads/2020/04/cc-mastercard.png" alt="imagen logo Mastercard" class="imgBrandCard">
                        <p><b>MasterCard</b> que termina en <b>9554</b></p>
                    </div>
                    <p class="changeData">Cambiar</p>
                </div>
                <div class="dataDown">
                    <div class="row">
                        <h2>Mis tarjetas de credito</h2>
                        <button class="dataDownClose" role="button"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                    </div>
                    <div class="row">
                        <input type="radio" id="">
                        <img src="https://mecen.es/wp-content/uploads/2020/04/cc-mastercard.png" alt="imagen logo Mastercard" class="imgBrandCard">
                        <p>MasterCard que termina en 8303</p>
                        <h4>Adrián Arnaiz Fernández</h4>
                        <p>03/2025</p>
                    </div>
                    <div class="linePayment"></div>
                    <div class="row">
                        <input type="radio" id="">
                        <img src="https://mecen.es/wp-content/uploads/2020/04/cc-mastercard.png" alt="imagen logo Mastercard" class="imgBrandCard">
                        <p>MasterCard que termina en 8303</p>
                        <h4>Adrián Arnaiz Fernández</h4>
                        <p>03/2025</p>
                    </div>
                    <div class="rowEnd">
                        <button role="button" class="btn btn-success">Añadir tarjeta</button>
                    </div>
                </div>
                <div class="linePayment"></div>
                <div class="col lastPayment">
                    <div class="rowStart">
                        <h2>3</h2>
                        <h3>Revisar productos y opciones de envío</h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>Entrega estimada: 11 abr 2022</h3>
                            <div class="row">
                                <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada Tokyo Revengers 04">
                                <div class="rowInformation">
                                    <h4>Tokyo Revengers 04</h4>
                                    <p class="price">15€</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h4>Elige opción de envío</h4>
                            <span>
                                <input type="checkbox" id="">
                                <p>Entrega estándar</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paymentRight">
                <button class="btn btn-success">Finalizar Compra</button>
                <div class="linePayment"></div>
                <div class="paymentRightPrice">
                    <h3>Resumen del pedido</h3>
                    <p>Precio: 45€</p>
                </div>
            </div>
        </div>

        <div class="modalBackground">
            <div class="modalCenter">
                <header>
                    <h2>Titulo</h2>
                    <i class="fa-solid fa-xmark" id="btnCloseModal"></i>
                </header>
                <main>
                    <form>
                        <div class="formField">
                            <label for="name">Nombre</label>
                            <input type="text" id="" />
                        </div>
                        <div class="formField">
                            <label for="address">Dirección</label>
                            <input type="text"id="address" />
                        </div>
                        <div class="formField">
                            <label for="number">Numero</label>
                            <input type="number" id="number" />
                        </div>
                        <div class="formField">
                            <label for="floor">Piso</label>
                            <input type="number" id="floor" />
                        </div>
                        <div class="formField">
                            <label for="locality">Localidad</label>
                            <input type="text" id="locality">
                        </div>
                        <div class="formButton">
                            <button class="btn btn-success" role="button">Añadir dirección</button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </main>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- BTN-UP ----------- ----------- -->

    <button id="btn-up"><i class="fa-solid fa-angle-up"></i></button>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- FOOTER ----------- ----------- -->

    <footer id="footer">
        <div class="footerTop">
            <div class="footerAccount footerContainer">
                <h4 class="footerSubtitle">Mi Cuenta</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mi Cuenta</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Historial de pedidos</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mis Direcciones</a></li>
                </ul>
            </div>
            <div class="footerInformation footerContainer">
                <h4 class="footerSubtitle">Información Legal</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-angle-right"></i>Aviso Legal</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de cookies</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de privacidad</li>
                </ul>
            </div>
            <div class="footerContact footerContainer">
                <h4 class="footerSubtitle">Contáctanos</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-phone iconBlack"></i>601 403 189</li>
                    <div class="footerLine"></div>
                    <li><i class="fa-regular fa-envelope iconBlack"></i>tumanga@tumanga.com</li>
                    <div class="footerLine"></div>
                    <li class="noHover">Contacta con nosotros para cualquier duda</li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <h3>&copy;Todos los derechos reservados</h3>
        </div>
    </footer>

    <!-- * ----------------------------------------------------------------------------- -->


    <!-- * ----------- ----------- SCRIPT ----------- ----------- -->
    <script src="js/script.js"></script>
    <!-- * ----------------------------------------------------------------------------- -->
</body>

</html>