<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuManga</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/images/BrandICO.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d0135093a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- * ----------- ----------- HEADER ----------- ----------- -->

    <header id="header">
        <div class="brand">
            <a href="index.html">
                <img src="./assets/images/BrandTransparent.png" alt="brand arnaizDev" id="imgBrand">
                <h1>TuManga</h1>
            </a>
        </div>
        <div class="headerSearch">
            <i class="fa-regular fa-magnifying-glass"></i>
            <input type="text" id="headerSearch" placeholder="Busca en nuestro catálogo">
        </div>
        <div class="headerOptions">
            <span id="spanBadge">
                <a href="shoppingCart.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge">4</span>
                </a>
            </span>

            <!-- * ----------- ----------- CART ----------- ----------- -->

            <div class="containerCart">
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="lineCart"></div>
                <div class="cardCart">
                    <img src="./assets/images/tokyorevnegers4.jpeg" alt="portada de Tokyo revengers 04">
                    <div>
                        <h4>Tokyo Revenger 04</h4>
                        <span class="amountCart">
                            <p>Cant: </p>
                            <p>1</p>
                        </span>
                    </div>
                </div>
                <div class="totalCart">
                    <p>Total</p>
                    <p>100€</p>
                </div>
            </div>

            <!-- * ----------------------------------------------------------------------------- -->

            <span>
                <a href="account.html">
                    <i class="fa-regular fa-user"></i>
                </a>
            </span>
            <span>
                <i class="fa-regular fa-bars" id="buttonMenu"></i>
            </span>
        </div>
    </header>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- NAV ----------- ----------- -->

    <nav id="navHome">
        <div class="navOptions">
            <ul>
                <li><a href="index.html"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-book"></i>Mangas</a></li>
                <li><a href="mangas.html"><i class="fa-solid fa-child-reaching"></i>Merchandising</a></li>
                <li><a href="account.html"><i class="fa-solid fa-user"></i>Mi Cuenta</a></li>
            </ul>
        </div>
        <button class="btn btn-light" id="btnAccessPanel" role="button">Acceder al panel</button>
        <button class="btn btn-danger" id="btnLogout" role="button">Cerrar sesión</button>
    </nav>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SOCIAL ICONS ----------- ----------- -->

    <div id="redes">
        <a href="https://www.instagram.com" target="_blank" id="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank" id="twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://facebook.com/" target="_blank" id="facebook"><i class="fa-brands fa-facebook"></i></a>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- SLIDER ----------- ----------- -->

    <div class="sliderSmall">
        <h3 class="sliderTitle">Mangas</h3>
    </div>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- MAIN ----------- ----------- -->

    <main class="center">
        <div class="selectOrder">
            <div class="filterResponsive">
                <button role="button" class="btnFilter"><i class="fa-solid fa-sliders"></i>Filtrar</button>
            </div>
            <div class="optionsFilterResponsive">
                <header>
                    <button role="button" id="closeModalFilter">
                        <i class="fa-solid fa-xmark"></i>
                        Cerrar
                    </button>
                </header>
                <main>
                    <div class="containerFilterResponsive">
                        <h3>Tipos</h3>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Novela ligera</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Manga</p>
                        </div>
                    </div>
                    <div class="containerFilterResponsive">
                        <h3>Categorias</h3>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Novela ligera</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Manga</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Novela ligera</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Manga</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Novela ligera</p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="">
                            <p>Manga</p>
                        </div>
                    </div>
                </main>
                <footer>
                    <button role="button" class="btn btn-primary">Aplicar filtros</button>
                </footer>
            </div>
            <div>
                <button role="button" class="selectOrderOptions">
                    Ordenar<i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="optionsSelectOrder">
                    <li>Precio más bajo</li>
                    <li>Precio más alto</li>
                    <li>Novedades</li>
                    <li>Más vendidos</li>
                </ul>
            </div>
        </div>
        <div class="containerGlobalProducts">
            <div class="containersFilters">
                <div class="containerFilter">
                    <header>Tipos</header>
                    <div class="lineFilter"></div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Novela ligera</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Novela ligera</p>
                    </div>
                </div>
                <div class="containerFilter">
                    <header>Categorias</header>
                    <div class="lineFilter"></div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Isekai</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Spokon</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Mechas</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Shojo</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Ecchi</p>
                    </div>
                    <div class="optionFilter">
                        <input type="checkbox" id="" class="checkboxFilter">
                        <p>Romance</p>
                    </div>
                </div>
            </div>
            <div class="containerTestSpinner">
                <div class="containerSpinner">
                    <div class="spinner"></div>
                    <h2>Cargando...</h4>
                </div>

                <div class="containerSpinnerCenter">
                    <div class="loader-wrapper">
                        <div class="loader">
                            <div class="loader loader-inner"></div>
                        </div>
                    </div>
                    <h2>Cargando...</h2>
                </div>
                <div class="containerSpinnerCenter">
                    <div class="spinner2"></div>
                    <h2>Cargando...</h2>
                </div>
                <div class="containerSpinnerCenter">
                    <div class="spinner3">
                        <div class="spinner3-1">
                            <div class="spinner3-1 spinner3-2"></div>
                        </div>
                    </div>
                    <h2>Cargando...</h2>
                </div>
                <div class="containerSpinnerCenter">
                    <div class="spinner3">
                        <div class="spinner3-1 spinner5">
                            <div class="spinner3-1 spinner3-2 spinner5"></div>
                        </div>
                    </div>
                    <h2>Cargando...</h2>
                </div>
                <div class="containerSpinnerCenter">
                    <div class="spinnerBlue">
                    </div>
                    <h2>Cargando...</h2>
                </div>
            </div>
        </div>
        <div class="containerPaginator">
            <div class="paginator">
                <p class="pageActive">1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
            </div>
        </div>
    </main>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- BTN-UP ----------- ----------- -->

    <button id="btn-up"><i class="fa-solid fa-angle-up"></i></button>

    <!-- * ----------------------------------------------------------------------------- -->

    <!-- * ----------- ----------- FOOTER ----------- ----------- -->

    <footer id="footer">
        <div class="footerTop">
            <div class="footerAccount footerContainer">
                <h4 class="footerSubtitle">Mi Cuenta</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mi Cuenta</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Historial de pedidos</a></li>
                    <li><a href=""><i class="fa-regular fa-angle-right"></i>Mis Direcciones</a></li>
                </ul>
            </div>
            <div class="footerInformation footerContainer">
                <h4 class="footerSubtitle">Información Legal</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-angle-right"></i>Aviso Legal</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de cookies</li>
                    <li><i class="fa-regular fa-angle-right"></i>Política de privacidad</li>
                </ul>
            </div>
            <div class="footerContact footerContainer">
                <h4 class="footerSubtitle">Contáctanos</h4>
                <div class="footerLine"></div>
                <ul class="footerContainerOptions">
                    <li><i class="fa-regular fa-phone iconBlack"></i>601 403 189</li>
                    <div class="footerLine"></div>
                    <li><i class="fa-regular fa-envelope iconBlack"></i>tumanga@tumanga.com</li>
                    <div class="footerLine"></div>
                    <li class="noHover">Contacta con nosotros para cualquier duda</li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <h3>&copy;Todos los derechos reservados</h3>
        </div>
    </footer>

    <!-- * ----------------------------------------------------------------------------- -->


    <!-- * ----------- ----------- SCRIPT ----------- ----------- -->
    <script src="js/script.js"></script>
    <!-- * ----------------------------------------------------------------------------- -->
</body>

</html>