.statisticsCol {
  cursor: pointer;

  /* position: relative; */
  z-index: 10;

  overflow: hidden;

  /* width: 50px; */
  width: 10vw;
  height: 100px;

  background-color: rgb(207 50 50);
  border: 3px solid #f00;
  border-bottom: 0;
}

.statisticsCol:nth-child(2) {
  background-color: rgb(30 172 30);
  border-color: #008000;
}

.statisticsCol:nth-child(3) {
  background-color: rgb(199 199 23);
  border-color: #ff0;
}

.statisticsCol:nth-child(4) {
  background-color: rgb(228 164 44);
  border-color: #ffa500;
}

.statisticsCol:nth-child(5) {
  background-color: rgb(109 109 243);
  border-color: #00f;
}

.statisticsCol:hover {
  opacity: 80%;
}

.statisticsName {
  position: absolute;
  bottom: -9vh;

  overflow: hidden;

  width: inherit;

  text-overflow: ellipsis;
}

.statisticsScore {
  position: absolute;
  font-size: 1.5rem;
}
